.banner{
  background-image: asset-url('cinema.jpg');
  backdrop-filter: blur(1px) grayscale(60%);
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-text{
  color: white;
}
.banner-title{
  color: white;
}
