.cards_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 20px;
}

.list_card{
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
    align-items: center;
    justify-content: center;
  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    border: 1px solid #cccccc;
    font-size: 50px;
  }
}

.list_header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.movie_poster{
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: flex;
}
.movie_card{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: #fffafa;
}
.review-font{
  color:#FEDE01;
}
.movie_rating{
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.card_text{
  padding-left: 20px;
  display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.testtruc{
  display: flex;
    flex-grow: 1;
}
.testtruc2{
  margin-top: 20px;
}
.card_title{
  padding-right: 20px;
}
.card_category{
  height: 300px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-position: center;

}
.card-list-name{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 32px;
}
